<% include ../shared/header %>
  <%= message %>

  <h2> Devices </h2>
  <a href="/device/new"> Add new device </a>
  
  <!-- device list -->
  <% include device_list %>

<% include ../shared/footer %>
