<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <form action="/users/signup" method="post">
        <label> Email </label>
        <input type='email' name='email' />

        <label> Password </label>
        <input type='password' name='password' />

        <button type='submit'> Signup </button>
        
      </form>
    </div>
  </body>
</html>
