<% include ../shared/header %>
<h2> <%= title %> </h2>
<div>
  <form action="/user/signup" method="post">
    <label> Email </label>
    <input type='email' name='email' />

    <label> Password </label>
    <input type='password' name='password' />

    <button type='submit'> Signup </button>
    
  </form>
</div>

<% include ../shared/footer %>
